.bor {
  border: red 10px solid;
}
.card {
  padding: 2rem;
  justify-content: space-between;
  height: 25rem;
  width: 70%;
  border: 5px solid #241e92;
  border-radius: 0.5em;
  margin: auto;
  margin-top: 3%;
  background-image: url("../../Assests/Images/Group.svg"),
    url("../../Assests/Images/Cloud\ sync-amico\ 1.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, 35%;
  background-position-y: center;
}
.menu-bar {
  width: 100%;
}
.header {
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.menu-list {
  font-weight: 550;
  flex-wrap: nowrap;
  margin-right: 20px;
}
.header-text {
  font-weight: 500;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.header-text-secondary {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo {
  height: 6rem;
  width: 15em;
}
.btns {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2rem;
}
.btn-gs {
  background-color: #241e92;
  color: white;
  font-size: medium;
  border-radius: 10px;
  height: 3rem;
  width: 8rem;
  cursor: pointer;
}
.btn-r {
  cursor: pointer;
  background-color: white;
  font-size: medium;
  border-color: #241e92;
  color: black;
  height: 3rem;
  width: 8rem;
  border-radius: 10px;
}
.text-highlight {
  color: #241e92;
}
.menu {
  padding: 0.5em;
  list-style-type: none;
  font-size: large;
  font-weight: bold;
}
.three-dot {
  height: 0.6rem;
  width: 0.6rem;
  background-color: #7b6cf6;
  border-radius: 50%;
}
.text-box {
  margin-left: -5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 10rem;
  background-color: #ffffff;
  border-radius: 00.5em;
}
.text-editor-header {
  height: 3em;
  width: 100%;
  background-color: #eef1f4;
  border-radius: 00.5em;
}
.text-editor-body {
  width: 100%;
  border-radius: 00.5em;
  background-color: #040051;
  word-wrap: break-word;
}
.text-editor {
  justify-content: space-between;
  height: 11rem;
  width: 50%;
  min-width: 280px;
  border: 1px solid #241e92;
  border-radius: 0.5em;
  margin: auto;
  margin-top: -3%;
}
.body-stack {
  margin-top: 1em;
  width: 100%;
}
.body-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body-text-1 {
  font-weight: 500;
  font-size: 2em;  
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  display: flex;
}
.body-text-2 {
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 1em;
  display: flex;
  justify-content: center;
  color: #57548e;
}
@media only screen and (max-width: 720px) {
  .card {
    padding: 2rem;
    justify-content: space-between;
    height: 25rem;
    width: 70%;
    border: 5px solid #241e92;
    border-radius: 0.5em;
    margin: auto;
    margin-top: 3%;
    background-image: url("../../Assests/Images/Group.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .body-text-1 {
    padding: 15px;
    margin-top: 30%;
    font-weight: bold;
    font-size: larger;
  }

  .body-stack {
    margin: 3%;
    width: 100%;
  }
}
